<p style="color: green"><%= notice %></p>

<% content_for :title, "Tweets" %>

<h1>Chirper</h1>

<%= link_to "New tweet", new_tweet_path %>

<div id="tweets" class="flex flex-col space-y-4">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>
